<div id="bookmarks"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Myapp.Routers.BookmarksRouter({bookmarks: <%= @bookmarks.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
