<h1>New bookmark</h1>

<form class="form-horizontal" id="new-bookmark" name="bookmark">
  <div class="control-group">
    <label class="control-label" for="title"> Title</label>
    <div class="controls">
      <input type="text" name="title" id="title" value="<%= title %>" >
    </div>
  </div>
  <div class="control-group">
    <label for="details" class="control-label"> Tags</label>
    <div class="controls">
      <input type="text" class="tags" name="details" id="details" value="<%= details %>" >
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" class="btn btn-primary" value="Create Bookmark" />
    </div>
  </div>
</form>
