<h1>Search Result</h1>
<h4>Search results for query "<span id="qSpan"></span>" </h4>
<hr/>
<table id="bookmarks-table" class="table">
  <tr>
    <th>Title</th>
    <th>Tags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>
<br/>
