
<Table class="table table-bordered">
<tr>
<Th width="70px">
Title
</th>
<Td>
	<%= title %>
</td>
</tr>
<tr>
<Th>
URL
</th>
<Td>
	<%= burl %>
</td>
</tr>
<tr>
<Th>
Tags
</th>
<Td>
	<%= details %>
</td>
</tr>
</table>

<a class="btn btn-success" href="#/index">Back</a>